@font-face {
    font-family: KHMenu;
    src: url(./fonts/KHMenu.otf) format("opentype");
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: KHGummi;
    src: url(./fonts/KHGummi.otf) format("opentype");
    font-style: normal;
    font-display: block
}

h1, h2, h3, h4, h5 {
    font-family: KHGummi;
}

.App {
  text-align: center;
  font-family: KHMenu;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

.absolute-bottom {
    bottom: 0;
}

.selected-image {
    background-color: aquamarine
}

.center-row {
    align-content: center;
}

.create-character-button {
    width: 170px;
    height: 65px;
    font-family: KHGummi;
    font-size: large;

    background-color: dodgerblue;
    color: gold;
    border-color: dodgerblue;
}

.tips-panel {
    width: 230px;
    height: 300px;
    border: 4px ridge;
}

.tips-button {
    max-width: 60px;
    font-size: 8pt;
    margin: 0px 3px;
    background-color: yellow;
}

.training-facility-selectable {
    width: 220px;
    height: 220px;
    border: 2px ridge;
    display: inline;
    margin: 2rem;
}

.training-facility-selectable .tip {
    min-width: 220px;
    background-color: palegreen;
    color: black;
    top: 140px;
    left: 0px;
}

.mawff-card {
    width: 500px;
    height: 700px;
    border: 6px #2196F3 groove;
    border-radius: 3px;
    display: inline-block;
}
.mawff-card > * {
    display: inline-block;
}

.card-image {
    width: 200px;
    height: 200px;
}

.card-nouns {
    width: 250px;
    height: 200px;
}

/*avatar is 200px by 200px*/

/*.annoying-test-borders {
    border-left: 1px solid red;
    border-right: 1px solid green;
    border-top: 1px solid blue;
    border-bottom: 1px solid yellow;
}*/

.card-attribute-row {
    height: 40px;
    width: 100%;
    align-content: flex-start;
}
.card-attribute-row > * {
    display: inline-block;
}

.card-att-row-label {
    width: 17%;
}

.card-label-small {
    font-size: 9pt;
}
.card-label-smaller {
    font-size: 7pt;
}

.card-att-row-rank {
    width: 15%;
    font-family: KHGummi;
}

.card-att-row-bar {
    width: 68%;
}

.card-attribute-rank {
    width: 100%;
    height: 100px;
}

.quota-panel {
    padding: 0 4rem;
    position: relative;
    width: 80%;

    display: inline-block;
}

.sparks-glossary {
    padding: 0.5rem 1rem;
    position: relative;
    width: 250px;

    display: flex;
    justify-content: flex-start
}

.sparks-glossary .gameplay-tip {
    border-top: 1px solid black;

    display: flex;
    justify-content: flex-start
}

.wide-button {
    width: 80%;
    height: 3rem;
    margin: 0.5rem;
}

.tiny-title {
    font-size: 8pt;
}

.card-overallrank-title {
    font-family: KHGummi;
}

.kh-gummi {
    font-family: KHGummi;
}

.kh-menu {
    font-family: KHMenu;
}

.skill-block {
    height: 30px;
    width: 50%;
    border-radius: 6px;
}

.tooltip-popup {
    border-radius: 10px;
    border-width: 1px;
    background-color: lightskyblue;
    border-color: deepskyblue;

    z-index: 10;
    box-shadow: rgba(0, 0, 20, 0.4) 3px 3px;

    position: absolute;
    padding: 7px;
}

.effect-positive {
    color: green;
}

.effect-negative {
    color: red;
}




.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container .tip {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: rgba(0, 0, 20, 0.4) 3px 3px;
    position: absolute;
    z-index: 10;
}

.tooltip-container:hover .tip {
    visibility: visible;
}

.gameplay-icon {
    width: 50px;
    height: 50px;
    margin: 2px;

    position: relative;
    display: inline-block;
}

.gameplay-icon .tip {
    min-width: 150px;
    background-color: palegreen;
    color: black;
    
    top: 50px;
}
.gameplay-tip .tip {
    min-width: 150px;
    background-color: palegreen;
    color: black;
    top: 50px;
}


.whats-new-tag {
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
    margin: 3px;
    padding: 3px;
    background-color: white;
}

.whats-new-tag .tip {
    min-width: 400px;
    left: -100px;
    background-color: lightgrey;
    color: black;
}



.midturn-modal-dimbackground {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.midturn-modal {
    position: absolute;
    background-color: skyblue;
    opacity: 1;

    top: 20%;
    left: 12%;
    right: 12%;
    bottom: 20%;

    z-index: 2;
}

.midturn-modal-contents {
    position: relative;
    display: inline-block;
    width: 90%;
}

.lamp-selector {
    height: 300px;
    width: 100%;
    display: inline-block;
}

.lamp-choice {
    width: 150px;
    height: 150px;
    margin: 10px;
    position: relative;
}

.lamp-choice .tip {
    min-width: 150px;
    background-color: palegreen;
    color: black;
    top: 140px;
    left: 0px;
}

.selected-lamp {
    background-color: gold;
    border-style: solid;
    border-color: gold;
    border-width: 4px;
}